/* RESET MODERNO */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

html, body {
  height: 100%;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: #000; 
  color: white;
}


/* orbitrom, jet brains mono  */
/* largura da barra */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #1ed760, #1db954);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #22ff7a, #1ed760);
}